.products {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.products .thumb {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 1rem;
    width: 100%;
}

.thumb span {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: rgba(0, 93, 105, .8);
    margin-right: .5rem;
    transition: .5s;
}

.thumb a {
    text-decoration: none;
    transition: .5s;
    color: rgba(0, 93, 105, .8);
}

.thumb a:hover span{
    color: rgba(0, 93, 105, 1.0);
}

.products h2 {
    width: 100%;
    margin: 0;
    padding: 3rem 0 3rem 0;
    font-size: 2rem;
    line-height: 2rem;
    color: rgba(0, 93, 105, .8);
}

.products-item {
    width: 31%;
    margin-bottom: 2.66rem;
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 93, 105, .8);
    box-sizing: border-box;
    border: 1px solid rgba(0, 93, 105, .8);
}

.products-item a {
    text-decoration: none;
}

.products-item img {
    width: 100%;
    vertical-align: bottom;
}

.products-item h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
    padding: 2rem 2rem .5rem 2rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.products-item p {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    padding: 0 2rem 1rem 2rem;
    font-size: 1.1rem;
}

@media only screen and (max-width : 1200px) {
    .products {
        padding:
                calc(1rem + (2 - 1) * ((100vw - 20rem) / (75 - 20)))
                1rem
                calc(0rem + (2 - 0) * ((100vw - 20rem) / (75 - 20)))
                1rem;
    }

    .products .thumb {
        padding-top: calc(0rem + (1 - 0) * ((100vw - 20rem) / (75 - 20)))
    }

    .thumb span {
        font-size: calc(.8rem + (1.1 - .8) * ((100vw - 20rem) / (75 - 20)));
        line-height: calc(1.7rem + (1.5 - 1.7) * ((100vw - 20rem) / (75 - 20)));
        margin-right: calc(.2rem + (.5 - .2) * ((100vw - 20rem) / (75 - 20)));
    }

    .products h2 {
        font-size: calc(1.5rem + (2 - 1.5) * ((100vw - 20rem) / (75 - 20)));
        padding:
                calc(.5rem + (3 - .5) * ((100vw - 20rem) / (75 - 20)))
                0
                calc(1rem + (3 - 1) * ((100vw - 20rem) / (75 - 20)))
                0;
    }

    .products-item {
        margin-bottom: calc(1rem + (2.66 - 1) * ((100vw - 20rem) / (75 - 20)));
    }

    .products-item h3 {
        font-size: calc(1.3rem + (1.5 - 1.3) * ((100vw - 20rem) / (75 - 20)));
        padding:
                calc(1rem + (2 - 1) * ((100vw - 20rem) / (75 - 20)))
                calc(1rem + (2 - 1) * ((100vw - 20rem) / (75 - 20)))
                calc(0rem + (.5 - 0) * ((100vw - 20rem) / (75 - 20)))
                calc(1rem + (2 - 1) * ((100vw - 20rem) / (75 - 20)));
        line-height: calc(1.4rem + (1.9 - 1.4) * ((100vw - 20rem) / (75 - 20)));
    }

    .products-item p {
        font-size: calc(.9rem + (1.1 - .9) * ((100vw - 20rem) / (75 - 20)));
        padding:
                0
                calc(1rem + (2 - 1) * ((100vw - 20rem) / (75 - 20)))
                1rem
                calc(1rem + (2 - 1) * ((100vw - 20rem) / (75 - 20)));
    }
}

@media only screen and (max-width : 900px) {
    .products-item {
        width: 48%;
    }
}

@media only screen and (max-width : 560px) {
    .products-item {
        width: 100%;
    }

}